@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.green-primary {
  color: #70c174;
}
.green-secondary {
  color: #bef3c0;
}
.green-tertiary {
  color: #eff7f2;
}

.home-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.common-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
}

p,
.para-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.home-heading,
h1,
h2 {
  line-height: 120%;
}

.home-heading {
  font-size: 6.4rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3,
h4,
h5,
h6 {
  line-height: 150%;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p,
.para-small {
  line-height: 160%;
  color: #525560;
}

p {
  font-size: 1.6rem;
}

.para-small {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem !important;
  }

  h2 {
    font-size: 3.2rem !important;
  }

  h3 {
    font-size: 2.4rem !important;
  }
}
.btn-primary,
.btn-secondary,
.btn-nav {
  border-radius: 0.4rem;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-nav:hover {
  transform: translateY(-10%);
}

.btn-primary {
  color: #ffffff;
  background: #70c174;
  backdrop-filter: blur(8rem);
}

.btn-secondary {
  background: #ffffff;
  backdrop-filter: blur(8rem);
}

.btn-nav {
  color: #ffffff;
  background: #1d2130;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #525560;
}

button {
  outline: none;
}

.page-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 767px) {
  .page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  padding: 1.2rem 0;
}
header .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}
header .main-content .nav-logo {
  height: 2.4rem;
  max-width: 100%;
}
header .main-content .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
header .main-content .navbar li a:hover {
  transition: all ease 0.3s;
  color: #0b0706;
}
header .main-content .navbar .active {
  color: #0b0706;
}
header .main-content .navbar .btn-nav {
  padding: 1.2rem 3.2rem;
}
header .main-content .navbar .btn-nav a {
  color: #ffffff;
}
header .main-content .btn-menu {
  display: none;
  background-color: #1d2130;
  border-radius: 0.4rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding: 0.8rem;
}
header .main-content .btn-menu img {
  width: 100%;
  height: 100%;
}
header .overlay-menu {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
header .overlay-menu .menu-container {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
header .overlay-menu .menu-container .menu-link {
  width: 100%;
  padding: 1.6rem 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
header .overlay-menu .menu-container .menu-link:hover {
  color: #0b0706;
}
header .overlay-menu .menu-container .active {
  color: #0b0706;
}
header .overlay-menu .btn-menu-link {
  display: inline-block;
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background: #1d2130;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #ffffff;
}
header .overlay-menu .btn-menu-link:hover {
  background-color: #0b0706;
}
header .menu-open {
  max-height: 775px;
}
@media screen and (max-width: 991px) {
  header .btn-menu {
    display: block !important;
  }
  header .navbar {
    display: none !important;
  }
  header .menu-link {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
@media screen and (max-width: 767px) {
  header .menu-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.hero-section {
  padding: 19.2rem 0 9.6rem;
}
.hero-section .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.hero-section .main-content .section-title {
  margin-left: 9.6rem;
  position: relative;
  display: flex;
  align-items: center;
  color: #1d2130;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.hero-section .main-content .section-title::before {
  position: absolute;
  left: -9.6rem;
  display: block;
  content: "";
  width: 7.2rem;
  height: 0.2rem;
  background-color: #1d2130;
}
.hero-section .main-content .content {
  margin-left: 9.6rem;
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
}
.hero-section .main-content .content .left-content {
  flex: 6;
}
.hero-section .main-content .content .right-content {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 5;
}
.hero-section .main-content .content .right-content p {
  color: #1d2130;
  opacity: 0.7;
}
@media screen and (max-width: 991px) {
  .hero-section {
    padding: 17.6rem 0 9.6rem;
  }
  .hero-section .main-content {
    gap: 2.4rem;
  }
  .hero-section .main-content .section-title {
    margin-left: 0;
    margin-bottom: 2.4rem;
  }
  .hero-section .main-content .section-title::before {
    left: 0;
    top: 3.6rem;
  }
  .hero-section .main-content .content {
    gap: 4.8rem;
    margin-left: 0;
  }
  .hero-section .main-content .content .left-content {
    flex: 1;
  }
  .hero-section .main-content .content .right-content {
    flex: 1;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    padding: 15.2rem 0 5.6rem;
  }
  .hero-section .main-content {
    gap: 2.4rem;
  }
  .hero-section .main-content .section-title {
    margin-left: 0;
    margin-bottom: 2.4rem;
  }
  .hero-section .main-content .section-title::before {
    left: 0;
    top: 3.6rem;
  }
  .hero-section .main-content .content {
    gap: 1.6rem;
    margin-left: 0;
    flex-direction: column;
  }
  .hero-section .main-content .content .right-content {
    margin-top: 0;
  }
}

.video-section {
  margin-bottom: -22.4rem;
}
.video-section .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  z-index: 50;
}
.video-section .main-content .video {
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
  height: 44.8rem;
}
.video-section .main-content .video img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
  cursor: pointer;
}
.video-section .main-content .video img:hover {
  transform: scale(1.05, 1.05);
}
.video-section .main-content .video .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-section .main-content .video .btn-play img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .video-section {
    margin-bottom: -16rem;
  }
  .video-section .main-content .video {
    height: 32rem;
  }
}
@media screen and (max-width: 479px) {
  .video-section {
    margin-bottom: -9.6rem;
  }
  .video-section .main-content .video {
    height: 19.2rem;
  }
}

.our-mission-section {
  padding: 22.4rem 0 9.6rem;
  background-color: #eff7f2;
}
.our-mission-section .main-content {
  padding: 9.6rem 0;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}
.our-mission-section .main-content .text-row {
  padding: 0 9.6rem;
  display: flex;
  flex-direction: row;
  gap: 9.6rem;
}
.our-mission-section .main-content .text-row .text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.our-mission-section .main-content .text-row .text-container .title {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.our-mission-section .main-content .bottom-row {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 9.6rem;
}
.our-mission-section .main-content .bottom-row .title-row {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
.our-mission-section .main-content .bottom-row .title-row .common-text {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.our-mission-section .main-content .bottom-row .title-row .line {
  flex-grow: 1;
  height: 0.1rem;
  background-color: #e5e5e5;
}
.our-mission-section .main-content .bottom-row .logo-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.2rem;
}
@media screen and (max-width: 991px) {
  .our-mission-section .main-content .text-row {
    padding: 0;
  }
  .our-mission-section .main-content .bottom-row .logo-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .our-mission-section {
    padding-top: 16rem;
  }
  .our-mission-section .main-content .text-row {
    flex-direction: column;
    row-gap: 4.8rem;
  }
}
@media screen and (max-width: 479px) {
  .our-mission-section {
    padding-top: 9.6rem;
  }
  .our-mission-section .main-content .bottom-row .logo-row {
    grid-template-columns: 1fr 1fr;
  }
}

.award-section {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin: 9.6rem 0;
}
.award-section .award-heading {
  text-align: center;
}
.award-section .award-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.award-section .award-row .award-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}
.award-section .award-row .award-item img {
  width: 11.1rem;
  height: 9.2rem;
}
.award-section .award-row .award-item .award-text {
  text-align: center;
}
.award-section .award-row .award-item .award-text .year {
  font-size: 2.4rem;
  line-height: 160%;
}
.award-section .award-row .award-item .award-text .title-award {
  font-size: 16px;
  line-height: 160%;
}
.award-section .award-row .award-item .award-text .common-text {
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #525560;
}

.our-journey-section {
  margin: 9.6rem 11rem;
  padding: 6.4rem 0 6.4rem 9.6rem;
  display: flex;
  background: #0b0706;
  border-radius: 12px;
  color: #ffffff;
  gap: 4.8rem;
  align-items: center;
}
.our-journey-section .left-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.our-journey-section .left-content .text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.our-journey-section .left-content .text-container .title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.our-journey-section .left-content .stats-row {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}
.our-journey-section .left-content .stats-row-item {
  display: flex;
  flex-direction: column;
}
.our-journey-section .left-content .stats-row-item-top {
  color: #ffffff;
  font-size: 24px;
  line-height: 160%;
}
.our-journey-section .left-content .stats-row-item-bottom {
  font-size: 12px;
  line-height: 160%;
  color: #525560;
}

.our-team-section {
  margin: 9.6rem 11rem;
}
.our-team-section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
}
.our-team-section-heading p {
  width: 40%;
  color: #525560;
  opacity: 0.6;
}
.our-team-section .team-members {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.our-team-section .team-members-item {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.our-team-section .team-members-item img {
  width: auto;
}
.our-team-section .team-members-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.our-team-section .team-members-item-info .common-text {
  font-size: 2rem;
  line-height: 160%;
}
.our-team-section .team-members-item-info .position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 160%;
  color: #1d2130;
  opacity: 0.6;
}
.our-team-section .team-members-item-social {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.our-team-section .team-members-item-social-icon {
  width: 2rem;
  height: 2rem;
}

.cta-section {
  padding: 9.6rem 0;
}
.cta-section .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.4rem;
  height: 38.4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/cta.png");
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
.cta-section .main-content .content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  max-width: 64rem;
}
.cta-section .main-content .content h2 {
  text-align: center;
  color: #ffffff;
}
.cta-section .main-content .content .btn-container {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .cta-section {
    padding: 8rem 0;
  }
}
@media screen and (max-width: 767px) {
  .cta-section {
    padding: 5.6rem 0;
  }
  .cta-section .main-content .content {
    align-items: center;
  }
  .cta-section .main-content .content .btn-container {
    max-width: 25.6rem;
    width: 100%;
    flex-direction: column;
    gap: 2.4rem;
  }
}
@media screen and (max-width: 479px) {
  .cta-section .main-content {
    height: auto;
    padding: 2.4rem;
  }
  .cta-section .main-content .content .btn-container {
    max-width: none;
  }
}

.blog-section {
  padding: 0 0 9.6rem;
}
.blog-section .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.blog-section .main-content .section-title {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
.blog-section .main-content .section-title .common-text {
  font-size: 40px;
  line-height: 140%;
  font-weight: 700;
}
.blog-section .main-content .section-title .line {
  height: 0.1rem;
  background-color: #e5e5e5;
  flex-grow: 1;
}
.blog-section .main-content .blog-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}
.blog-section .main-content .blog-posts .blog-posts-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.blog-section .main-content .blog-posts .blog-posts-item:hover {
  cursor: pointer;
  transform: translateY(-1.5%);
}
.blog-section .main-content .blog-posts .blog-posts-item .common-text {
  margin-top: 0.8rem;
  font-size: 2rem;
  color: #1d2130;
  font-weight: 700;
}
.blog-section .main-content .blog-posts .blog-posts-item .blog-posts-wrapper {
  overflow: hidden;
  height: 19.2rem;
  border-radius: 0.5rem;
}
.blog-section .main-content .blog-posts .blog-posts-item .blog-posts-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .blog-section .main-content .section-title .common-text {
    font-size: 2.4rem;
  }
  .blog-section .main-content .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .blog-section .main-content .blog-posts {
    grid-template-columns: 1fr;
  }
}

.events-section {
  padding: 0 0 9.6rem;
}
.events-section .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.events-section .main-content .section-title {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
.events-section .main-content .section-title .common-text {
  font-size: 40px;
  line-height: 140%;
  font-weight: 700;
}
.events-section .main-content .section-title .line {
  height: 0.1rem;
  background-color: #e5e5e5;
  flex-grow: 1;
}
.events-section .main-content .events-container {
  display: flex;
  gap: 2.4rem;
}
.events-section .main-content .events-container .events-item {
  flex: 1;
  padding: 3.2rem 4rem 4rem;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  background: #bef3c0;
  border-radius: 8px;
}
.events-section .main-content .events-container .events-item .date {
  align-self: flex-start;
  position: relative;
}
.events-section .main-content .events-container .events-item .date .date-number {
  font-size: 48px;
  line-height: 120%;
}
.events-section .main-content .events-container .events-item .date .date-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.events-section .main-content .events-container .events-item .events-title {
  flex-grow: 1;
}
.events-section .main-content .events-container .events-item .events-title .events-header {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  align-items: center;
}
.events-section .main-content .events-container .events-item .events-title .events-header .common-text {
  font-size: 16px;
  line-height: 19px;
  color: #1d2130;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.events-section .main-content .events-container .events-item .events-title .events-header .line {
  width: 4.4rem;
  height: 0.2rem;
  background-color: #1d2130;
}
.events-section .main-content .events-container .events-item .events-button {
  cursor: pointer;
  align-self: center;
  transition: all 0.3s ease;
}
.events-section .main-content .events-container .events-item .events-button:hover {
  transform: translateX(10%);
}
.events-section .main-content .events-container .events-item .events-button img {
  padding: 1.9rem;
  background-color: #ffffff;
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
  .events-section {
    padding: 0 0 8rem;
  }
  .events-section .main-content .section-title .common-text {
    font-size: 2.4rem;
  }
  .events-section .main-content .events-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .events-section {
    padding: 0 0 5.6rem;
  }
  .events-section .main-content .events-container .events-item {
    position: relative;
    padding: 2.4rem;
    flex-direction: column;
  }
  .events-section .main-content .events-container .events-item .events-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}

footer {
  padding: 9.6rem 0;
  background-color: #0b0706;
}
footer .main-content {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .main-content .left-content {
  width: 15%;
}
footer .main-content .right-content {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
footer .main-content .right-content .link-container {
  display: grid;
  width: 40%;
  justify-content: space-around;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 0rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;
}
footer .main-content .right-content .link-container .link-col {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
footer .main-content .right-content .link-container .link-col-header {
  color: #ffffff;
  line-height: 160%;
}
footer .main-content .right-content .link-container .link-col a {
  color: #ffffff;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.78;
}
footer .main-content .right-content .link-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
footer .main-content .right-content .link-form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
}
footer .main-content .right-content .link-form-field {
  display: flex;
  flex-direction: row;
}
footer .main-content .right-content .link-form-field input[type=text] {
  flex-grow: 1;
  padding: 2.4rem;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
  background-color: #0b0706;
  color: #ffffff;
  outline: none;
}
footer .main-content .right-content .link-form-field input[type=submit] {
  color: #1d2130;
  background-color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
footer .main-content .right-content .link-form-field input::placeholder {
  color: rgba(235, 240, 249, 0.3);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 991px) {
  footer {
    padding: 8rem 0;
  }
  footer .main-content {
    flex-direction: column;
  }
  footer .main-content .left-content {
    width: auto;
    margin-bottom: 3.2rem;
  }
  footer .main-content .right-content {
    width: 100%;
  }
  footer .main-content .right-content .link-container {
    width: 50%;
    margin-right: 3rem;
    justify-content: start;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 5.6rem 0;
  }
  footer .main-content .right-content {
    flex-direction: column;
  }
  footer .main-content .right-content .link-container {
    width: 100%;
  }
  footer .main-content .right-content .link-form {
    margin-top: 4.8rem;
    width: 100%;
  }
  footer .main-content .right-content .link-form .link-form-text {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}
@media screen and (max-width: 479px) {
  footer .main-content .right-content .link-container {
    width: 100%;
    margin-right: 0;
    grid-auto-flow: row;
  }
  footer .main-content .right-content .link-form {
    margin-top: 3.2rem;
    width: 100%;
    gap: 1.6rem;
  }
  footer .main-content .right-content .link-form .link-form-field {
    flex-direction: column;
    gap: 1.6rem;
  }
}

/*# sourceMappingURL=about.css.map */
