@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.green-primary {
  color: #70c174;
}
.green-secondary {
  color: #bef3c0;
}
.green-tertiary {
  color: #eff7f2;
}

.home-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.common-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
}

p,
.para-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.home-heading,
h1,
h2 {
  line-height: 120%;
}

.home-heading {
  font-size: 6.4rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3,
h4,
h5,
h6 {
  line-height: 150%;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p,
.para-small {
  line-height: 160%;
  color: #525560;
}

p {
  font-size: 1.6rem;
}

.para-small {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 3.2rem !important;
  }

  h3 {
    font-size: 2.4rem !important;
  }
}
.btn-primary,
.btn-secondary,
.btn-nav {
  border-radius: 0.4rem;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-nav:hover {
  transform: translateY(-10%);
}

.btn-primary {
  color: #ffffff;
  background: #70c174;
  backdrop-filter: blur(8rem);
}

.btn-secondary {
  background: #ffffff;
  backdrop-filter: blur(8rem);
}

.btn-nav {
  color: #ffffff;
  background: #1d2130;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #525560;
}

button {
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 11rem;
  background: #eff7f2;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.navbar .active {
  color: #0b0706;
}

.navbar .btn-nav {
  padding: 1.2rem 3.2rem;
}
.navbar .btn-nav a {
  color: #ffffff;
}

.hero-section {
  padding: 9.6rem 11rem;
  display: flex;
  gap: 11rem;
  background: #eff7f2;
}
.hero-section-left {
  display: flex;
  flex-direction: column;
  margin-left: 9.6rem;
  gap: 3.2rem;
}
.hero-section-left .section-title {
  position: relative;
  display: flex;
  align-items: center;
  color: #1d2130;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.hero-section-left .section-title::before {
  position: absolute;
  left: -9.6rem;
  display: block;
  content: "";
  width: 7.2rem;
  height: 0.2rem;
  background-color: #1d2130;
}
.hero-section-left .main-content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.hero-section-left .main-content .btn-primary {
  margin-top: 1.8rem;
  width: fit-content;
}
.hero-section-right img {
  width: 100%;
}

.how-to-section {
  padding: 9.6rem 11rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
}
.how-to-section .left-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.how-to-section .right-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.how-to-section .right-content .tab {
  overflow: hidden;
}
.how-to-section .right-content .tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 2.4rem;
  transition: 0.3s;
  font-size: 1.6rem;
  line-height: 160%;
  color: #525560;
  border-bottom: 0.2rem solid #e5e5e5;
}
.how-to-section .right-content .tab-content-container .tab-content {
  display: none;
}

hr {
  margin-top: 9.6rem;
  border-color: #e5e5e5;
  height: 0.1rem;
  grid-column: span 2;
}

.usage-section {
  margin: 9.6rem 11rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9.6rem;
}

.cta-section {
  margin: 9.6rem 11rem;
  padding: 9.3rem 32.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/cta.png");
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
.cta-section .content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.cta-section .content h2 {
  text-align: center;
  color: #ffffff;
}
.cta-section .content .btn-container {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: center;
}

footer {
  padding: 9.6rem 11rem;
  background-color: #0b0706;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .link-container {
  display: flex;
  flex-direction: row;
  gap: 8.8rem;
}
footer .link-container .link-col {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
footer .link-container .link-col-header {
  color: #ffffff;
  line-height: 160%;
}
footer .link-container .link-col a {
  color: #ffffff;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.78;
}
footer .link-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
footer .link-form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
  width: 80%;
}
footer .link-form-field {
  display: flex;
  flex-direction: row;
}
footer .link-form-field input[type=text] {
  flex-grow: 1;
  padding: 2.4rem;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
  background-color: #0b0706;
  color: #ffffff;
  outline: none;
}
footer .link-form-field input[type=submit] {
  color: #1d2130;
  background-color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
footer .link-form-field input::placeholder {
  color: rgba(235, 240, 249, 0.3);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/*# sourceMappingURL=donation.css.map */
