@use "../abstracts" as *;
@use "../components" as *;

:root {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $clr-text-secondary;
}
button {
  outline: none;
}
.page-padding {
  padding-left: 4rem;
  padding-right: 4rem;
  @media screen and (max-width: 767px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// ---------------Nav Bar-----------------
header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $clr-white;
  width: 100%;
  padding: 1.2rem 0;

  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    .nav-logo {
      height: 2.4rem;
      max-width: 100%;
    }
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
      li {
        a:hover {
          transition: all ease 0.3s;
          color: $clr-black;
        }
      }
      .active {
        color: $clr-black;
      }
      .btn-nav {
        padding: 1.2rem 3.2rem;
        a {
          color: $clr-white;
        }
      }
    }
    .btn-menu {
      display: none;
      background-color: $clr-text-primary;
      border-radius: 0.4rem;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      padding: 0.8rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .overlay-menu {
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 0;

    transition: max-height 0.3s ease-out;
    .menu-container {
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $clr-white;

      .menu-link {
        width: 100%;
        padding: 1.6rem 2rem;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          color: $clr-black;
        }
      }
      .active {
        color: $clr-black;
      }
    }
    .btn-menu-link {
      display: inline-block;
      width: 100%;
      padding: 1.6rem 2rem;
      border-radius: 0.4rem;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      background: $clr-text-primary;
      transition: all 0.2s ease;
      cursor: pointer;
      color: $clr-white;
      &:hover {
        background-color: $clr-black;
      }
    }
  }
  .menu-open {
    max-height: 775px;
  }
  @media screen and (max-width: 991px) {
    .btn-menu {
      display: block !important;
    }
    .navbar {
      display: none !important;
    }
    .menu-link {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
  }
  @media screen and (max-width: 767px) {
    .menu-link {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
}

// --------------------------Hero Section---------------------
.hero-section {
  padding: 19.2rem 0 9.6rem;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    .section-title {
      margin-left: 9.6rem;
      position: relative;
      display: flex;
      align-items: center;
      color: $clr-text-primary;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      &::before {
        position: absolute;
        left: -9.6rem;
        display: block;
        content: "";
        width: 7.2rem;
        height: 0.2rem;
        background-color: #1d2130;
      }
    }
    .content {
      margin-left: 9.6rem;
      display: flex;
      flex-direction: row;
      gap: 6.4rem;
      .left-content {
        flex: 6;
      }
      .right-content {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        flex: 5;
        p {
          color: $clr-text-primary;
          opacity: 0.7;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 17.6rem 0 9.6rem;
    .main-content {
      gap: 2.4rem;
      .section-title {
        margin-left: 0;
        &::before {
          left: 0;
          top: 3.6rem;
        }
        margin-bottom: 2.4rem;
      }
      .content {
        gap: 4.8rem;
        margin-left: 0;
        .left-content {
          flex: 1;
        }
        .right-content {
          flex: 1;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 15.2rem 0 5.6rem;
    .main-content {
      gap: 2.4rem;
      .section-title {
        margin-left: 0;
        &::before {
          left: 0;
          top: 3.6rem;
        }
        margin-bottom: 2.4rem;
      }
      .content {
        gap: 1.6rem;
        margin-left: 0;
        flex-direction: column;
        .right-content {
          margin-top: 0;
        }
      }
    }
  }
}
// --------------------Video Section-----------
.video-section {
  margin-bottom: -22.4rem;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    z-index: 50;
    .video {
      position: relative;
      overflow: hidden;
      border-radius: 1.2rem;
      height: 44.8rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.05, 1.05);
        }
      }
      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        img {
          width: 6.4rem;
          height: 6.4rem;
          border-radius: 50%;
          background-color: $clr-white;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: -16rem;
    .main-content {
      .video {
        height: 32rem;
      }
    }
  }
  @media screen and (max-width: 479px) {
    margin-bottom: -9.6rem;
    .main-content {
      .video {
        height: 19.2rem;
      }
    }
  }
}

// --------------------Our Mission Section-----------

.our-mission-section {
  padding: 22.4rem 0 9.6rem;
  background-color: $clr-green-tertiary;
  .main-content {
    padding: 9.6rem 0 0;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;

    .text-row {
      padding: 0 9.6rem;
      display: flex;
      flex-direction: row;
      gap: 9.6rem;
      .text-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .title {
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-bottom: 0.8rem;
        }
      }
    }
    .bottom-row {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      margin-top: 9.6rem;

      .title-row {
        display: flex;
        flex-direction: row;
        gap: 2.4rem;
        align-items: center;
        .common-text {
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }
        .line {
          flex-grow: 1;
          height: 0.1rem;
          background-color: $clr-border;
        }
      }
      .logo-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3.2rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .main-content {
      .text-row {
        padding: 0;
      }
      .bottom-row {
        .logo-row {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 16rem;
    .main-content {
      .text-row {
        flex-direction: column;
        row-gap: 4.8rem;
      }
    }
  }
  @media screen and (max-width: 479px) {
    padding-top: 9.6rem;
    .main-content {
      .bottom-row {
        .logo-row {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

// ------------------------Award Section---------------
.award-section {
  padding: 9.6rem 0;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .award-heading {
    text-align: center;
  }
  .award-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    margin-top: 4.8rem;
    .award-item {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      align-items: center;
      img {
        max-width: 100%;
      }
      .award-text {
        text-align: center;
        .year {
          font-size: 2.4rem;
          line-height: 160%;
        }
        .title-award {
          font-size: 16px;
          line-height: 160%;
        }
        .common-text {
          font-size: 12px;
          line-height: 160%;
          text-align: center;
          text-transform: uppercase;
          color: $clr-text-secondary;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 8rem 0;
  }
  @media screen and (max-width: 767px) {
    padding: 5.6rem 0;
    .main-content {
      gap: 0;
    }
    .award-row {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 479px) {
    .award-row {
      grid-template-columns: 1fr;
    }
  }
}
// --------------------Our Journey Section-------------

.our-journey-section {
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    align-items: center;
    padding: 6.4rem 0 6.4rem 9.6rem;
    background: $clr-black;
    border-radius: 12px;
    color: $clr-white;
    column-gap: 4.8rem;
    row-gap: 3.2rem;
    .left-content {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      .text-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        .title {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
      .stats-row {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
        &-item {
          display: flex;
          flex-direction: column;
          &-top {
            color: $clr-white;
            font-size: 24px;
            line-height: 160%;
          }
          &-bottom {
            font-size: 12px;
            line-height: 160%;
            color: $clr-text-secondary;
          }
        }
      }
    }
    .right-content {
      overflow: hidden;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      height: 44.8rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .main-content {
      padding: 3.2rem 0 3.2rem 4.8rem;
    }
  }
  @media screen and (max-width: 767px) {
    .main-content {
      padding: 3.2rem 3.2rem 0 3.2rem;
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 479px) {
    .main-content {
      padding: 3.2rem 3.2rem 0 3.2rem;
      grid-template-columns: 1fr;
      .left-content {
        .stats-row {
          flex-direction: column;
          gap: 1.6rem;
        }
      }
    }
  }
}

// ------------------------Our Team Section------------
.our-team-section {
  .main-content {
    padding: 9.6rem 0;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    .our-team-section-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.6rem;
      p {
        width: 100%;
        max-width: 51.2rem;
        color: $clr-text-secondary;
        opacity: 0.6;
      }
    }
    .team-members {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-column-gap: 3.2rem;
      grid-row-gap: 4.8rem;
      margin-top: 4.8rem;
      &-item {
        .image-wrapper {
          height: 32rem;
          overflow: hidden;
          border-radius: 0.8rem;
          img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
          }
        }
        &-info {
          margin-top: 1.6rem;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          text-align: center;
          .common-text {
            font-size: 2rem;
            line-height: 160%;
          }
          .position {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 160%;
            color: $clr-text-primary;
            opacity: 0.6;
          }
        }
        &-social {
          margin-top: 1.6rem;
          display: flex;
          flex-direction: row;
          gap: 2rem;
          justify-content: center;
          &-icon {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .main-content {
      .team-members-item {
        .image-wrapper {
          height: 19.2rem;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .main-content {
      .team-members {
        grid-template-columns: 1fr 1fr;
        .team-members-item {
          .image-wrapper {
            height: 25.6rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .main-content {
      .team-members {
        grid-template-columns: 1fr;
        .team-members-item {
          .image-wrapper {
            height: 32rem;
          }
        }
      }
    }
  }
}

// ---------------------------CTA Section-------------

.cta-section {
  padding: 9.6rem 0;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.4rem;
    height: 38.4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../assets/images/cta.png");
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      width: 100%;
      max-width: 64rem;
      h2 {
        text-align: center;
        color: $clr-white;
      }
      .btn-container {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 8rem 0;
  }
  @media screen and (max-width: 767px) {
    padding: 5.6rem 0;
    .main-content {
      .content {
        align-items: center;
        .btn-container {
          max-width: 25.6rem;
          width: 100%;
          flex-direction: column;
          gap: 2.4rem;
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .main-content {
      height: auto;
      padding: 2.4rem;
      .content {
        .btn-container {
          max-width: none;
        }
      }
    }
  }
}

// ------------------Blog Section-------------------
.blog-section {
  padding: 0 0 9.6rem;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    .section-title {
      display: flex;
      flex-direction: row;
      gap: 2.4rem;
      align-items: center;
      .common-text {
        font-size: 40px;
        line-height: 140%;
        font-weight: 700;
      }
      .line {
        height: 0.1rem;
        background-color: $clr-border;
        flex-grow: 1;
      }
    }
    .blog-posts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      column-gap: 2.4rem;
      row-gap: 3.2rem;
      .blog-posts-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
          transform: translateY(-1.5%);
        }
        .common-text {
          margin-top: 0.8rem;
          font-size: 2rem;
          color: $clr-text-primary;
          font-weight: 700;
        }
        .blog-posts-wrapper {
          overflow: hidden;
          height: 19.2rem;
          border-radius: 0.5rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .main-content {
      .section-title {
        .common-text {
          font-size: 2.4rem;
        }
      }
      .blog-posts {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media screen and (max-width: 479px) {
    .main-content {
      .blog-posts {
        grid-template-columns: 1fr;
      }
    }
  }
}

// -------------------Event Section----------------
.events-section {
  padding: 0 0 9.6rem;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    .section-title {
      display: flex;
      flex-direction: row;
      gap: 2.4rem;
      align-items: center;
      .common-text {
        font-size: 40px;
        line-height: 140%;
        font-weight: 700;
      }
      .line {
        height: 0.1rem;
        background-color: $clr-border;
        flex-grow: 1;
      }
    }
    .events-container {
      display: flex;
      gap: 2.4rem;
      .events-item {
        flex: 1;
        padding: 3.2rem 4rem 4rem;
        display: flex;
        flex-direction: row;
        gap: 2.4rem;
        background: $clr-green-secondary;
        border-radius: 8px;

        .date {
          align-self: flex-start;
          position: relative;
          .date-number {
            font-size: 48px;
            line-height: 120%;
          }
          .date-text {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
        }
        .events-title {
          flex-grow: 1;
          .events-header {
            display: flex;
            flex-direction: row;
            gap: 2.3rem;
            align-items: center;
            .common-text {
              font-size: 16px;
              line-height: 19px;
              color: $clr-text-primary;
              letter-spacing: 2px;
              text-transform: uppercase;
            }
            .line {
              width: 4.4rem;
              height: 0.2rem;
              background-color: $clr-text-primary;
            }
          }
        }

        .events-button {
          cursor: pointer;
          align-self: center;
          transition: all 0.3s ease;
          &:hover {
            transform: translateX(10%);
          }
          img {
            padding: 1.9rem;
            background-color: $clr-white;
            border-radius: 50%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 0 0 8rem;
    .main-content {
      .section-title {
        .common-text {
          font-size: 2.4rem;
        }
      }
      .events-container {
        flex-direction: column;
      }
    }
  }
  @media screen and (max-width: 479px) {
    padding: 0 0 5.6rem;
    .main-content {
      .events-container {
        .events-item {
          position: relative;
          padding: 2.4rem;
          flex-direction: column;
          .events-button {
            position: absolute;
            right: 2rem;
            top: 2rem;
          }
        }
      }
    }
  }
}

// ---------------------Footer Section-------------
footer {
  padding: 9.6rem 0;
  background-color: $clr-black;
  .main-content {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .left-content {
      width: 15%;
    }
    .right-content {
      width: 85%;
      display: flex;
      justify-content: space-between;
      .link-container {
        display: grid;
        width: 40%;
        justify-content: space-around;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-column-gap: 0rem;
        grid-row-gap: 1.6rem;
        grid-template-columns: max-content;
        grid-template-rows: auto;
        .link-col {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          &-header {
            color: $clr-white;
            line-height: 160%;
          }
          a {
            color: $clr-white;
            font-size: 14px;
            line-height: 160%;
            opacity: 0.78;
          }
        }
      }
      .link-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        &-text {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 140%;
          color: $clr-white;
        }
        &-field {
          display: flex;
          flex-direction: row;
          input[type="text"] {
            flex-grow: 1;
            padding: 2.4rem;
            border: 1px solid rgba(235, 240, 249, 0.3);
            border-radius: 4px;
            background-color: $clr-black;
            color: $clr-white;
            outline: none;
          }
          input[type="submit"] {
            color: $clr-text-primary;
            background-color: $clr-white;
            padding: 16px 32px;
            text-align: center;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
          }
          input::placeholder {
            color: rgba(235, 240, 249, 0.3);
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 8rem 0;
    .main-content {
      flex-direction: column;
      .left-content {
        width: auto;
        margin-bottom: 3.2rem;
      }
      .right-content {
        width: 100%;
        .link-container {
          width: 50%;
          margin-right: 3rem;
          justify-content: start;
          grid-auto-columns: 1fr;
          grid-template-columns: 1fr;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 5.6rem 0;
    .main-content {
      .right-content {
        flex-direction: column;
        .link-container {
          width: 100%;
        }
        .link-form {
          margin-top: 4.8rem;
          width: 100%;
          .link-form-text {
            font-size: 2.4rem;
            line-height: 1.4;
          }
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .main-content {
      .right-content {
        .link-container {
          width: 100%;
          margin-right: 0;
          grid-auto-flow: row;
        }
        .link-form {
          margin-top: 3.2rem;
          width: 100%;
          gap: 1.6rem;
          .link-form-field {
            flex-direction: column;
            gap: 1.6rem;
          }
        }
      }
    }
  }
}
