@use "../abstracts/" as *;

.btn-primary,
.btn-secondary,
.btn-nav {
  border-radius: 0.4rem;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-primary:hover,
.btn-secondary:hover,
.btn-nav:hover {
  transform: translateY(-10%);
}

.btn-primary {
  color: $clr-white;
  background: $clr-green-primary;
  backdrop-filter: blur(8rem);
}

.btn-secondary {
  background: $clr-white;
  backdrop-filter: blur(8rem);
  a {
    color: $clr-black;
  }
}

.btn-nav {
  color: $clr-white;
  background: $clr-text-primary;
}
